/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* border: 0; */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Adding CSS styling here */

/*General Styling*/

:root{
  --clr-primary: #009688;
  --clr-secondary: #1eac9d;
}

*{
    box-sizing: border-box;
    max-width: 100%;
    
}
html{
  font-size:62.5%; 
}

body{
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #4f4f4f;
  font-size: 1.6rem;
  
}

h1,h2{
   font-size: 3rem; 
}

section{
  padding:  0;
} 

/*Navigation Styling */



.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-primary);
  color: white;
  
}

.name{
  font-size: 4rem;
  margin: 3rem;
}

.navbar ul{
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  padding: 6rem;
  
}

.navbar-links a:hover{
  color: black;
}

.toggle-button{
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
  
.toggle-button .bar{
  height: 3px;
  width: 100%; 
  background-color: white;
  border-radius: 10px;
  
}

/* Main Section with photo and paragraph about myself*/

.main-photo{
  max-width:80%;
  min-width: 30%;
  padding: 4%
}


.intro{
  
  display: flex;
}


.info-about-me{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  
}

.info-about-me p{
  width: 80%;
 

}


/* Top section of projects */
.top-section{
  display: flex;
  padding-bottom: 2%;
  border-top: 4px solid var(--clr-secondary);
}

.top-section img{
  width:100%;
  padding: 0 6%;
  margin-top: 8%;
}

h3{
  display: flex;
  justify-content: center;
}

/*Bottom Section of Projects*/

.bottomSection{
  display: flex;
  padding-bottom: 2%;
}

.bottomSection img{
  width:100%;
  padding: 2% 6%;
}
/*Contact me section */

footer{
border-top: 4px solid var(--clr-secondary);



}

footer p{
  text-align: center;
  margin-top: 2%;
  font-weight:bold;
}



.hire-me{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  
}

.hire-me a {
  text-decoration: none; ;
}

.git{
  justify-content: center;
  align-items: center;
}

.linkedin{
  justify-content: center;
  align-items: center;
}

footer img{
  width:15%;
  margin-left: 40%;
}

/*Responsive-Design Section */

@media (max-width: 600px){

  .name{
    font-size: 2rem;
    
  }
  .toggle-button{
    display: flex;
  }

  .navbar-links{
    display: none;
    width: 100%;
  }
  .navbar{
    flex-direction: column;
    align-items: flex-start;

  }

  .navbar-links ul{
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li{
    text-align: right;
  }

  .navbar-links li a {
    padding: .5rem 1rem;
  }
.navbar-links.active{
display: flex;
}

}
